@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
h2 {
    font-size: 6em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
}
h2 span {
    transition: 0.5s;
}
h2:hover span:nth-child(1){ /* S */
    margin-right: 10px;
}
h2:hover span {
    color: #fff;
    text-shadow: 0 0 10px rgb(224, 15, 15),
                 0 0 20px rgb(224, 15, 15),
                 0 0 40px rgb(224, 15, 15),
                 0 0 80px rgb(224, 15, 15),
                 0 0 120px rgb(224, 15, 15),
                 0 0 160px rgb(224, 15 , 15);
}
h2:hover span#l {
    display: inline-block;
    line-height: 0.5;
    margin-top: 0;
    margin-bottom: 0;
} 
.character {
display: block;
}
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -50px, 0);
    }
}
.bounce {
    animation: bounce 0.4s infinite alternate;
}
